Repository polaroidkidd/ember: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix, pnpm check

chores
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/actions/env-setup/action.yaml
  .github/actions/path-filter/action.yaml
  .github/workflows/deploy-release.yaml
  .github/workflows/pull-request.yaml
  .husky/pre-commit
  .lintstagedrc
  .nvmrc
  .prettierignore
  .tsbuildinfo.json
  .vscode/settings.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  settings.json
  src/lib/ember/accordion/accordion.svelte
  src/lib/ember/accordion/actions.spec.ts
  src/lib/ember/accordion/actions.ts
  src/lib/ember/accordion/index.ts
  src/lib/ember/accordion/types.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/page.svelte.spec.ts
  tsconfig.json
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

install playwright
  .github/workflows/pull-request.yaml
Due: none

fix tests
  .github/workflows/pull-request.yaml
  package.json
  pnpm-lock.yaml
  src/lib/ember/accordion/accordion.svelte.spec.ts
  src/lib/ember/accordion/test-harness.svelte
  src/routes/page.svelte.spec.ts
  vite.config.mts
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

try running e2e tests in container
  .github/workflows/pull-request.yaml
Due: none

update playwright
  .github/workflows/pull-request.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

some renaming
  .github/workflows/pull-request.yaml
Due: none

trying out changesets
  .changeset/config.json
  .github/actions/env-setup/action.yaml
  .github/workflows/deploy-release.yaml
  .github/workflows/release.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

try out cloudflare publish
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  package.json
  pnpm-lock.yaml
  svelte.config.js
  wrangler.jsonc
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

fix config path
  .github/workflows/pull-request.yaml
Due: none

add a tooltip thing
  .github/actions/env-setup/action.yaml
  .github/workflows/publish.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
  package.json
  pnpm-lock.yaml
  src/app.css
  src/lib/ember/accordion/accordion.svelte.spec.ts
  src/routes/+page.svelte
  vite.config.mts
  wrangler.jsonc
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

add changeset
  .changeset/quiet-carrots-slide.md
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

Release Management (#1)
  .changeset/config.json
  .changeset/quiet-carrots-slide.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/actions/env-setup/action.yaml
  .github/actions/path-filter/action.yaml
  .github/workflows/deploy-release.yaml
  .github/workflows/publish.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
  .husky/pre-commit
  .lintstagedrc
  .nvmrc
  .prettierignore
  .tsbuildinfo.json
  .vscode/settings.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  settings.json
  src/app.css
  src/lib/ember/accordion/accordion.svelte
  src/lib/ember/accordion/accordion.svelte.spec.ts
  src/lib/ember/accordion/actions.spec.ts
  src/lib/ember/accordion/actions.ts
  src/lib/ember/accordion/index.ts
  src/lib/ember/accordion/test-harness.svelte
  src/lib/ember/accordion/types.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/page.svelte.spec.ts
  svelte.config.js
  tsconfig.json
  vite.config.mts
  wrangler.jsonc
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

clean up github workflows
  .github/actions/path-filter/action.yaml
  .github/workflows/changeset.yaml
  .github/workflows/deploy-release.yaml
  .github/workflows/release.yaml
Due: none

clean up github workflows (#2)
  .github/actions/path-filter/action.yaml
  .github/workflows/changeset.yaml
  .github/workflows/deploy-release.yaml
  .github/workflows/release.yaml
  package.json
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

minor cleanup
  .changeset/config.json
  .changeset/quiet-carrots-slide.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/actions/env-setup/action.yaml
  .github/actions/path-filter/action.yaml
  .github/workflows/changeset.yaml
  .github/workflows/publish.yaml
  .github/workflows/pull-request.yaml
  .husky/pre-commit
  .lintstagedrc
  .nvmrc
  .prettierignore
  .tsbuildinfo.json
  .vscode/settings.json
  README.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  settings.json
  src/app.css
  src/lib/ember/accordion/accordion.svelte
  src/lib/ember/accordion/accordion.svelte.spec.ts
  src/lib/ember/accordion/actions.spec.ts
  src/lib/ember/accordion/actions.ts
  src/lib/ember/accordion/index.ts
  src/lib/ember/accordion/test-harness.svelte
  src/lib/ember/accordion/types.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/page.svelte.spec.ts
  svelte.config.js
  tsconfig.json
  vite.config.mts
  wrangler.jsonc
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

Maintenance: add renovate.json
  renovate.json
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

update readme
  README.md
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

update readme (#7)
  README.md
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

update documentation
  .changeset/shy-hornets-sink.md
  README.md
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

update documentation (#8)
  .changeset/shy-hornets-sink.md
  README.md
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

Migrate Accordion to Tree component
  .changeset/orange-buses-juggle.md
  .github/workflows/changeset.yaml
  ember.svg
  src/lib/__mock__/data.ts
  src/lib/ember/accordion/index.ts
  src/lib/ember/index.ts
  src/lib/ember/tree/index.ts
  src/lib/ember/tree/test-harness.svelte
  src/lib/ember/tree/tree.spec.ts
  src/lib/ember/tree/tree.svelte
  src/lib/ember/tree/tree.svelte.spec.ts
  src/lib/ember/tree/types.ts
  src/lib/ember/tree/utils.ts
  src/routes/+page.svelte
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

Migrate Accordion to Tree component (#14)
  .changeset/orange-buses-juggle.md
  .github/workflows/changeset.yaml
  ember.svg
  src/lib/__mock__/data.ts
  src/lib/ember/accordion/index.ts
  src/lib/ember/index.ts
  src/lib/ember/tree/index.ts
  src/lib/ember/tree/test-harness.svelte
  src/lib/ember/tree/tree.spec.ts
  src/lib/ember/tree/tree.svelte
  src/lib/ember/tree/tree.svelte.spec.ts
  src/lib/ember/tree/types.ts
  src/lib/ember/tree/utils.ts
  src/routes/+page.svelte
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

update readme
  .changeset/lazy-taxis-matter.md
  README.md
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

Update .changeset/lazy-taxis-matter.md
  .changeset/lazy-taxis-matter.md
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

Update Readme (#16)
  .changeset/lazy-taxis-matter.md
  README.md
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

create tag
  .github/workflows/changeset.yaml
  package.json
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

use changesets defaults
  .github/workflows/changeset.yaml
  package.json
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

fix release management (#18)
  .github/workflows/changeset.yaml
  package.json
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

Fix: GitHub Actions jobs now run for dependency updates (#23)
  .github/actions/path-filter/action.yaml
Due: none

create release script
  .github/workflows/changeset.yaml
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  release.mts
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

create scripts to handle publishing on tag commits
  .github/scripts/extract-release-notes.mts
  .github/scripts/release.mts
  .github/workflows/changeset.yaml
  .github/workflows/publish.yaml
  .gitignore
  .lintstagedrc
  .tsbuildinfo.json
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

create release script (#28)
  .github/scripts/extract-release-notes.mts
  .github/scripts/release.mts
  .github/workflows/changeset.yaml
  .github/workflows/publish.yaml
  .gitignore
  .lintstagedrc
  .tsbuildinfo.json
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

rearrange packaging
  .github/workflows/publish.yaml
  README.md
  package.json
  pnpm-lock.yaml
  src/__mock__/data.ts
  src/lib/ember/index.ts
  src/lib/ember/tree/index.ts
  src/lib/index.ts
  src/lib/tree/index.ts
  src/lib/tree/tree.svelte
  src/lib/tree/types.ts
  src/lib/tree/utils.ts
  src/lib/types.ts
  src/routes/+page.svelte
  src/tests/tree/test-harness.spec.svelte
  src/tests/tree/tree.spec.ts
  src/tests/tree/tree.svelte.spec.ts
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

try new test component
  package.json
  pnpm-lock.yaml
  src/lib/index.ts
  src/lib/test/test.svelte
  src/lib/tree/index.ts
  src/lib/tree/tree.svelte
  src/lib/tree/types.ts
  src/lib/tree/utils.ts
  src/lib/types.ts
  src/routes/+page.svelte
  src/tests/tree/test-harness.spec.svelte
  src/tests/tree/tree.spec.ts
  svelte.config.js
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

old ts still works
  package.json
  src/routes/component-data/test.json
  src/routes/component-data/tree.json
  tsconfig.json
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

getting there
  package.json
  src/lib/index.ts
  src/lib/test/test.svelte
  src/lib/tree/tree.svelte
  src/routes/component-data/tree.json
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

Update exports
  src/lib/index.ts
  src/lib/tree/index.ts
  src/lib/tree/tree.svelte
  src/lib/tree/tree.types.ts
  src/lib/tree/tree.utils.ts
  src/lib/types.ts
  src/routes/+page.svelte
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

update deps
  .changeset/lazy-taxis-matter.md
  package.json
  pnpm-lock.yaml
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

update types
  .changeset/lazy-taxis-matter.md
  .changeset/ready-jobs-serve.md
  package.json
  src/lib/tree/tree.svelte
  svelte.config.js
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

Path conditions:
  prettier --config ./.prettierrc --write: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yml}
  prettier --config ./.prettierrc --check: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yml}
  eslint --fix: any of: *.{js,ts,svelte}
  pnpm check: any of: *.{svelte}
