Repository polaroidkidd/ember: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix, pnpm check

Update Exports (#43)
  .changeset/lazy-taxis-matter.md
  .changeset/ready-jobs-serve.md
  .github/workflows/publish.yaml
  README.md
  package.json
  pnpm-lock.yaml
  src/__mock__/data.ts
  src/lib/ember/index.ts
  src/lib/ember/tree/index.ts
  src/lib/index.ts
  src/lib/tree/index.ts
  src/lib/tree/tree.svelte
  src/lib/tree/tree.types.ts
  src/lib/tree/tree.utils.ts
  src/lib/types.ts
  src/routes/+page.svelte
  src/routes/component-data/test.json
  src/routes/component-data/tree.json
  src/tests/tree/test-harness.spec.svelte
  src/tests/tree/tree.spec.ts
  src/tests/tree/tree.svelte.spec.ts
  svelte.config.js
  tsconfig.json
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix, pnpm check

fix release script
  .changeset/small-lines-try.md
  .github/scripts/release.mts
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

fix release script (#44)
  .changeset/small-lines-try.md
  .github/scripts/release.mts
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

fix update/insert/delete tree functions
  .changeset/red-ducks-open.md
  src/lib/tree/tree.utils.ts
  src/tests/tree/tree.spec.ts
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

fix tree manipulation
  .changeset/dull-planets-taste.md
  package.json
  pnpm-lock.yaml
  src/lib/index.ts
  src/lib/tree/index.ts
  src/lib/tree/tree.svelte
  src/lib/tree/tree.utils.ts
  src/tests/tree/tree.spec.ts
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix, pnpm check

improve layout of homepage
  src/routes/+page.svelte
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix, pnpm check

quicksave
  src/lib/tree/tree.utils.ts
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

fix tailwind missing space
  src/routes/+page.svelte
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix, pnpm check

fix tree manipulation (#55)
  .changeset/dull-planets-taste.md
  package.json
  pnpm-lock.yaml
  src/lib/index.ts
  src/lib/tree/index.ts
  src/lib/tree/tree.svelte
  src/lib/tree/tree.utils.ts
  src/routes/+page.svelte
  src/tests/tree/tree.spec.ts
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix, pnpm check

remove tree helper crud actions from the node-snippet
  .changeset/loose-ties-invite.md
  src/lib/tree/index.ts
  src/lib/tree/tree.svelte
  src/lib/tree/tree.types.ts
  src/lib/tree/tree.utils.ts
  src/routes/+page.svelte
  src/tests/tree/test-harness.spec.svelte
  src/tests/tree/tree.spec.ts
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix, pnpm check

Update src/lib/tree/tree.utils.ts
  src/lib/tree/tree.utils.ts
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

Update src/lib/tree/tree.svelte
  src/lib/tree/tree.svelte
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix, pnpm check

Update .changeset/loose-ties-invite.md
  .changeset/loose-ties-invite.md
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

update types
  src/lib/tree/tree.svelte
  src/lib/tree/tree.types.ts
  src/lib/tree/tree.utils.ts
  src/routes/+page.svelte
  src/tests/tree/test-harness.spec.svelte
  src/tests/tree/tree.spec.ts
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix, pnpm check

improve styles
  src/routes/+page.svelte
  src/tests/tree/test-harness.spec.svelte
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix, pnpm check

remove tree helper crud actions from the node-snippet (#59)
  .changeset/loose-ties-invite.md
  src/lib/tree/index.ts
  src/lib/tree/tree.svelte
  src/lib/tree/tree.types.ts
  src/lib/tree/tree.utils.ts
  src/routes/+page.svelte
  src/tests/tree/test-harness.spec.svelte
  src/tests/tree/tree.spec.ts
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix, pnpm check

dependency updates
  .changeset/smooth-lizards-cry.md
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

dependency updates (#69)
  .changeset/smooth-lizards-cry.md
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

fix exports
  .changeset/warm-clocks-feel.md
  src/lib/index.ts
  src/lib/tree/tree.svelte
  src/lib/tree/tree.types.ts
  src/lib/tree/tree.utils.ts
  src/tests/tree/test-harness.spec.svelte
  src/tests/tree/tree.spec.ts
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix, pnpm check

fix exports (#72)
  .changeset/warm-clocks-feel.md
  src/lib/index.ts
  src/lib/tree/tree.svelte
  src/lib/tree/tree.types.ts
  src/lib/tree/tree.utils.ts
  src/tests/tree/test-harness.spec.svelte
  src/tests/tree/tree.spec.ts
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix, pnpm check

add transition animations
  .changeset/dirty-guests-grin.md
  src/lib/tree/tree.svelte
  src/routes/+page.svelte
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix, pnpm check

add transition animations (#74)
  .changeset/dirty-guests-grin.md
  src/lib/tree/tree.svelte
  src/routes/+page.svelte
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix, pnpm check

is it fixed?
  src/lib/tree/tree.utils.ts
  src/tests/tree/test-harness.spec.svelte
  src/tests/tree/tree.spec.ts
  src/tests/tree/tree.svelte.spec.ts
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix, pnpm check

created changeset
  .changeset/silly-roses-marry.md
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

Maintenance Release
  .changeset/rare-schools-fly.md
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

init release (#109)
  .changeset/rare-schools-fly.md
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

Maintenance: disable dependency dashboard
  renovate.json
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

ci: fix release notes node invocation
  .github/workflows/publish.yaml
Due: none

ci: gate staging deploy on checks
  .github/workflows/pull-request.yaml
Due: none

ci: remove checkout from env setup
  .github/actions/env-setup/action.yaml
Due: none

ci: cache pnpm store in env setup
  .github/actions/env-setup/action.yaml
Due: none

ci: restrict publish workflow tags
  .github/workflows/publish.yaml
Due: none

ci: remove redundant dependency jobs
  .github/workflows/changeset.yaml
  .github/workflows/pull-request.yaml
Due: none

ci: tag releases before npm publish
  .github/scripts/release.mts
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

chore: update workspace agent config
  .agents/skills/git-commit/SKILL.md
  .agents/skills/svelte-code-writer/SKILL.md
  .vscode/settings.json
  AGENTS.md
  pnpm-workspace.yaml
  skills-lock.json
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

chore: add release workflow changeset
  .changeset/safe-release-workflows.md
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

[codex] Improve release workflows (#686)
  .agents/skills/git-commit/SKILL.md
  .agents/skills/svelte-code-writer/SKILL.md
  .changeset/safe-release-workflows.md
  .github/actions/env-setup/action.yaml
  .github/scripts/release.mts
  .github/workflows/changeset.yaml
  .github/workflows/publish.yaml
  .github/workflows/pull-request.yaml
  .vscode/settings.json
  AGENTS.md
  pnpm-workspace.yaml
  skills-lock.json
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

ci: make release publish retryable
  .github/scripts/release.mts
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

chore: add release retry changeset
  .changeset/retry-release-publish.md
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check

[codex] Make release publishing retryable (#688)
  .changeset/retry-release-publish.md
  .github/scripts/release.mts
Due: prettier --config ./.prettierrc --write, prettier --config ./.prettierrc --check, eslint --fix

Path conditions:
  prettier --config ./.prettierrc --write: any of: *.{js,ts,mts,cts,svelte,css,scss,postcss,md,json,yml}
  prettier --config ./.prettierrc --check: any of: *.{js,ts,mts,cts,svelte,css,scss,postcss,md,json,yml}
  eslint --fix: any of: *.{js,ts,mts,cts,svelte}
  pnpm check: any of: *.svelte
